.header {
    background-color: #bbbfca;
    color: black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-name {
    font-size: 18px;
    margin-top: 10px;
    background-image: url('https://i.ibb.co/nmwzdgr/speak-for-title.png');
    width: 100px;
    height: 100px;
    background-size: 100%;

}

.logout {
    color: #e9e8eb;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #e9e8eb;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
}