
.messagesContainer{
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
}

.message{
    display: inline-block;
    color: #070707;
    font-weight: 100;
    background: #efefee;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 7.5px;
    min-width: 150px;
    margin-right: 50%; /*remove hack*/
    box-shadow: 0 1px 0.5px rgba(0,0,0, 0.13);
}