.header {
    background-color: #f6d2d6;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main {
    display: flex;
    flex-direction: row;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addInfo {
    background-color: #f6d2d6;
    width: 30px;
    height: calc(100vh - 30px);
}



